/* General */
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Rationale&family=Share+Tech&display=swap");

* {
  background-color: #252834;
  color: #f9f9f9f3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252834;
  line-height: 1.6;
}

#about-me h1 {
  /* font-family: "Share Tech", serif; */
  /* font-family: "Anek Latin", sans-serif; */
  /* border: 2px solid white; */
  font-family: "Rationale", sans-serif;
}

/* Encabezado */
#about-me {
  text-align: center;
  margin: 3rem 5rem 1rem 4rem;
  /* border: 2px solid white; */
}

#about-me h1 {
  font-size: 2.5rem;
  margin: 2rem 0rem 3rem;
}

#about-me p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1.5rem;
  font-family: "Share Tech", serif;
  /* font-family: "Anek Latin", sans-serif; */
  /* font-family: "Rationale", sans-serif; */
}

#about-me img {
  max-width: 180px;
  border-radius: 1rem;
  border: 3px solid rgb(110, 116, 142);
  margin: 2rem 0rem 1.5rem;
}

/* Enlaces */
#links {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

#links a {
  text-decoration: none;
  color: #2980b9;
  margin: 0 10px;
  font-weight: bold;
}

#links a:hover {
  text-decoration: underline;
  color: #34495e;
}

/* Secciones de listas */
.ambos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    max-width: 900px;
    margin: 0 auto;
}

.hobbies,
.tasks {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px dashed white;
  font-size: 1.1rem;
  font-family: "Share Tech", serif;
}

.hobbies ul,
.tasks ol {
  margin: 0;
  padding: 0 20px;
}

.hobbies li,
.tasks li {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

/* Tabla */
.schedule {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schedule table {
  width: 100%;
  /* border-collapse: collapse; */
  text-align: center;
}

.schedule th,
.schedule td {
  padding: 10px;
  /* border: 1px solid #ddd; */
}

.schedule th {
  background-color: #3498db;
  color: #1b1c1f;
  font-size: 1.2rem;
}

.schedule td {
  background-color: #f4f4f4;
  color: black;
  font-family: "Share Tech", serif;
  font-size: 1.1rem;
}

/* Formulario */
.contact-form {
  padding: 20px;
  margin: 20px auto;
  padding: 0rem 2rem;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #ccc; */
}

.contact-form h1 {
    text-align: center;
}

.contact-form input,
.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #27ae60;
  color: #ebedf3;
  border: none;
  cursor: pointer;
  font-family: "Share Tech", serif;
  font-size: 1.2rem;
  margin: 2rem auto;
  max-width: 300px;
}

.contact-form button:hover {
  background-color: #2ecc71;
}
